/.phpunit.cache
/node_modules
/public/hot
/public/storage
/public/build
/vendor
/storage/*.key
/storage/framework/*
/storage/logs/*
!/storage/framework/.gitkeep
!/storage/logs/.gitkeep
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/trae
.trae/
/equipe-propaganda---gestão-ooh-&-vendas
*.log
